<div class='main-content'>
  <div class='container-fluid'>

<!--&lt;!&ndash;            <div class='map-container'>&ndash;&gt;-->
<!--&lt;!&ndash;              <div id='map'>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class='leaflet-control-container'>&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class='leaflet-top leaflet-left'></div>&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class='leaflet-top leaflet-right'>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class='zoom leaflet-control'>&ndash;&gt;-->
<!--&lt;!&ndash;                      <a class='control-button zoomin' href='#' title='' data-original-title='Phóng to'>&ndash;&gt;-->
<!--&lt;!&ndash;                        <span class='icon zoomin'></span>&ndash;&gt;-->
<!--&lt;!&ndash;                      </a>&ndash;&gt;-->
<!--&lt;!&ndash;                      <a class='control-button zoomout' href='#' title='' data-original-title='Thu nhỏ'>&ndash;&gt;-->
<!--&lt;!&ndash;                        <span class='icon zoomout'></span>&ndash;&gt;-->
<!--&lt;!&ndash;                      </a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class='leaflet-control control-locate'>&ndash;&gt;-->
<!--&lt;!&ndash;                      <a class='control-button' title='' href='#' data-original-title='Bay tới Vị trí của Tôi'>&ndash;&gt;-->
<!--&lt;!&ndash;                        <span class='icon geolocate'></span>&ndash;&gt;-->
<!--&lt;!&ndash;                      </a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class='control-layers leaflet-control'>&ndash;&gt;-->
<!--&lt;!&ndash;                      <a class='control-button' href='#' title='' data-original-title='Lớp'>&ndash;&gt;-->
<!--&lt;!&ndash;                        <span class='icon layers'></span>&ndash;&gt;-->
<!--&lt;!&ndash;                      </a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class='control-key leaflet-control'>&ndash;&gt;-->
<!--&lt;!&ndash;                      <a class='control-button' href='#' data-original-title='Chú giải Bản đồ' style=''>&ndash;&gt;-->
<!--&lt;!&ndash;                        <span class='icon key'></span>&ndash;&gt;-->
<!--&lt;!&ndash;                      </a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class='control-share leaflet-control'>&ndash;&gt;-->
<!--&lt;!&ndash;                      <a class='control-button' href='#' title='' data-original-title='Chia sẻ'>&ndash;&gt;-->
<!--&lt;!&ndash;                        <span class='icon share'></span>&ndash;&gt;-->
<!--&lt;!&ndash;                      </a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class='control-note leaflet-control'>&ndash;&gt;-->
<!--&lt;!&ndash;                      <a class='control-button' href='#' data-original-title='Thêm một ghi chú vào bản đồ'>&ndash;&gt;-->
<!--&lt;!&ndash;                        <span class='icon note'></span>&ndash;&gt;-->
<!--&lt;!&ndash;                      </a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class='control-query leaflet-control'>&ndash;&gt;-->
<!--&lt;!&ndash;                      <a class='control-button disabled' href='#' data-original-title='Phóng to để thăm dò yếu tố'>&ndash;&gt;-->
<!--&lt;!&ndash;                        <span class='icon query'></span>&ndash;&gt;-->
<!--&lt;!&ndash;                      </a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  &lt;!&ndash;                  <div class='leaflet-bottom leaflet-left'>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                  &lt;!&ndash;                    <div class='leaflet-control-scale leaflet-control'>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                  &lt;!&ndash;                      <div class='leaflet-control-scale-line' style='width: 56px;'>1 km</div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                  &lt;!&ndash;                      <div class='leaflet-control-scale-line' style='width: 90px;'>1 mi</div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                  &lt;!&ndash;                    </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                  &lt;!&ndash;                  </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class='leaflet-bottom leaflet-right'>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class='leaflet-control-attribution leaflet-control'>© <a href='/copyright'>Data Custom From OpenStreetMap</a>♥</div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->



<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
    <div class='row'>
      <div class='col-md-3'>
        <div class='card'>
          <div class='card-header card-header-text card-header-rose'>
            <div class='card-text'>
              <h4 class='card-title'></h4>
            </div>
          </div>
          <div class='card-content' style='height: 900px'>
            <nz-tabset>
              <nz-tab nzTitle="Tìm kiếm">
                <div class="card border-success mb-3">
                  <div class="card-header bg-transparent border-success">
                    <form [formGroup]='formSearch' (ngSubmit)='formSearchSubmit()'>

                      <div class="form-group">
                        <input id='search' class="form-control" formControlName='search' type='text' placeholder='Nhập địa chỉ cần tìm ...'>
                      </div>
                      <button type='submit' class="btn btn-primary">Tìm kiếm</button>
                    </form>
                  </div>
                  <div class="card-body text-success">
                    <div class="list-group" style='height: 700px; overflow: scroll'>
                      <button type="button" class="list-group-item list-group-item-action active">
                        Cras justo odio
                      </button>
                      <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis in</button>
                      <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
                      <button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
                      <button type="button" class="list-group-item list-group-item-action" >Vestibulum at eros</button>
                    </div>
                  </div>
                  <div class="card-footer bg-transparent border-success">
                    <nz-pagination [nzPageIndex]="1" [nzTotal]="500" nzSize='small'></nz-pagination>
                  </div>
                </div>
              </nz-tab>
              <nz-tab nzTitle="Thêm mới hoặc sửa">
                <form [formGroup]='formUpdate' (ngSubmit)='formUpdateSubmit()'>
                  <div class="card border-success mb-3">
                    <div class="card-body text-success">
                      <div class="form-group">
                        <label for="typeObject">Chọn loại đối tượng</label>
                        <select class="form-control" id="typeObject" formControlName='typeObjID'>
                          <option disabled [ngValue]="null">Select</option>
<!--                          <option *ngFor="let item of products" [ngValue]="item.id">-->
<!--                            {{ item.name }}-->
<!--                          </option>-->
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="name">Tên</label>
                        <input type="text" class="form-control" id="name" formControlName='name'>
                      </div>
                      <div class="form-group">
                        <label for="longitude">Kinh độ</label>
                        <input type="number" class="form-control" id="longitude" formControlName='longitude' >
                      </div>
                      <div class="form-group">
                        <label for="latitude">Vĩ độ</label>
                        <input type="number" class="form-control" id="latitude" formControlName='latitude'>
                      </div>
                      <div class="form-group">
                        <label for="cityProvinceID">Chọn Tỉnh,Thành Phố</label>
                        <select class="form-control" id="cityProvinceID" formControlName='cityProvinceID'>
                          <option disabled [ngValue]="null">Select</option>
                          <!--                          <option *ngFor="let item of products" [ngValue]="item.id">-->
                          <!--                            {{ item.name }}-->
                          <!--                          </option>-->
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="districtID">Chọn quận,huyện</label>
                        <select class="form-control" id="districtID" formControlName='districtID'>
                          <option disabled [ngValue]="null">Select</option>
                          <!--                          <option *ngFor="let item of products" [ngValue]="item.id">-->
                          <!--                            {{ item.name }}-->
                          <!--                          </option>-->
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="communeWardID">Chọn phường,xã</label>
                        <select class="form-control" id="communeWardID" formControlName='communeWardID'>
                          <option disabled [ngValue]="null">Select</option>
                          <!--                          <option *ngFor="let item of products" [ngValue]="item.id">-->
                          <!--                            {{ item.name }}-->
                          <!--                          </option>-->
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="description">Mô tả</label>
                        <textarea class="form-control" id="description" rows="3" formControlName='description'></textarea>
                      </div>
                      <button type='submit' class="btn btn-primary">Lưu</button>
                    </div>
                  </div>
                </form>
              </nz-tab>
            </nz-tabset>
          </div>
        </div>
      </div>
      <div class='col-md-9'>
        <div class='card' >
          <div class='card-header card-header-text card-header-rose'>
            <div class='card-text'>
              <h4 class='card-title'>Map</h4>
            </div>
          </div>
          <div class='card-content' style='height: 1000px'>
            <div class='map-container'>
              <div id='map'></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
