img {
    width: 100%;
    max-height: 550px;
    height: 550px;
}

a:hover{
    font-weight: bold;
}

.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-left:2px;
    padding-right:2px;
    padding-bottom:75px;
    height:100% ;
    /*max-width: 500px;*/
}

/*.map-frame {*/
/*    border: 2px solid black;*/
/*    height: 100%;*/
/*}*/

#map {
    height: 100%;
    max-width: 100%;
}



