<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" >
                <div class="card height-card">
                    <div class="card-header card-header-primary card-header-icon height-card-header">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <h4 class="card-title">Danh Sách Bác Sĩ</h4>

                        <div class="input-group no-border col-md-4 ml-auto">

                            <input [(ngModel)]="searchText"
                                   type="text"
                                   name="search"
                                   class="form-control"
                                   placeholder="Tìm kiếm..."
                            (keydown.enter)="search($event)" >
                            <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon" (click)="search($event)">
                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>
                            </button>
                            |
                            <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon" title="Thêm mới" (click)="new()">
                                <i class="material-icons">add_circle_outline</i>
                                <div class="ripple-container"></div>
                            </button>
                        </div>
                    </div>
                    

                    <div class="card-body height-card-body" style="margin-top: 57px">
                        <div class="p-grid" >
                            <div class="p-col-3" *ngFor="let item of listBacSi;">
                                <p-card header="{{item.hoTen}}" subheader="{{item.hocVi + (item.chucVu ? (', '+item.chucVu) :'')}}"
                                        [style]="{width: '360px'}" styleClass="p-card-shadow">
                                    <ng-template pTemplate="header">
                                        <img alt="Card" src="assets/img/yte/{{item.anh}}" height="360px" width="360px">
                                    </ng-template>
                                    <div style="height: 70px;">
                                        <p class="ellipse" title="{{item.gioiThieu}}"
                                           >{{item.gioiThieu}}</p>
                                    </div>

                                    <ng-template pTemplate="footer">
                                        <p-button *ngIf="!isNoEdit" label="Sửa" icon="pi pi-check" (onClick)="editBacSi(item.id)"></p-button>
                                        <p-button label="xem chi tiết" icon="pi pi-times"
                                                  styleClass="p-button-secondary"
                                                  (onClick)="showModal(item.id)"
                                                  [style]="{'margin-left': '.5em'}"></p-button>
                                    </ng-template>
                                </p-card>
                            </div>
                            <div class="p-col-12">
                                <p-paginator [rows]="itemsPerPage" [totalRecords]="totalItems" (onPageChange)="changPage($event)"></p-paginator>
                            </div>
                        </div>

                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->

                
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    </div>
</div>


<p-dialog header="Thông tin chi tiết" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">
    <p-accordion [multiple]="true">
        <p-accordionTab header="Giới thiệu - Ngoại Ngữ">
            <p>{{bacSiModal?.gioiThieu}}</p>
            <hr>
            <h6>Ngoại ngữ</h6>
            <ng-container *ngFor="let i of bacSiModal?.bacSiNgoaiNgu">
                <p>{{getNameEnglish(i.ngoaiNguId)}}</p>
            </ng-container>
        </p-accordionTab>
        <p-accordionTab header="Chứng chỉ">
            <ng-container *ngFor="let i of bacSiModal?.chungChi">
                <h6>{{i.tuNgay | date: 'yyyy'}}   {{i.denNgay | date: 'yyyy'}}</h6>
                <p>{{i.noiDung}}</p>
                <br>
            </ng-container>
        </p-accordionTab>
        <p-accordionTab header="Kinh nghiệm">
            <ng-container *ngFor="let i of bacSiModal?.kinhNghiem">
                <h6>{{i.tuNgay | date: 'yyyy'}}   {{ i.denNgay ? (' - ' + (i.denNgay | date: 'yyyy')) : ''}}</h6>
                <p>{{i.noiDung}}</p>
                <br>
            </ng-container>
        </p-accordionTab>
    </p-accordion>
    <ng-template pTemplate="footer">
<!--        <p-button icon="pi pi-check" (click)="displayModal=false" label="Yes" class="p-button-text"></p-button>-->
        <p-button id="button-dialog" icon="pi pi-times" (click)="displayModal=false" label="Thoát"></p-button>
    </ng-template>
</p-dialog>




