<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" >
                <div class="card " style="height: 960px;">
                    <div class="card-header card-header-primary card-header-icon height-card-header">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <h4 class="card-title">Chẩn đoán bệnh</h4>
                    </div>
                    <div class="card-body height-card-body" style="margin-top: 5px">

                        <p-splitter  styleClass="p-mb-5">
                            <ng-template pTemplate>
                                <div class="p-col p-d-flex p-ai-center p-jc-center">
                                    <p-table [value]="bieuHiens"
                                             [scrollable]="true" scrollHeight="600px"
                                             [showCurrentPageReport]="true"
                                             [rowsPerPageOptions]="[10,25,50]"
                                             styleClass="p-datatable-customers p-datatable-gridlines"
                                             [paginator]="true"
                                             [style]="{height:'600px'}"
                                             [rows]="rows"
                                             (onPage)="onChangPage($event)"
                                             [totalRecords]="totalItems"
                                             [lazy]="true"
                                             currentPageReportTemplate="Hiển thị {first} đến {last} của {totalRecords}">
                                        <ng-template pTemplate="caption">
                                            <div class="p-d-flex">
                                                <h5>Biêu hiện</h5>
                                                <span class="p-input-icon-left p-ml-auto">
                                                <i class="pi pi-search"></i>
                                                <input pInputText type="text"
                                                       placeholder="Tìm kiếm"
                                                        [(ngModel)]="searchText"
                                                        (ngModelChange)="onSearch()"/>
                                            </span>
                                            </div>
                                        </ng-template>
                                        <ng-template pTemplate="colgroup" let-columns>
                                            <colgroup>
                                                <col style="width:70px">
                                                <col style="width:100px">
                                                <col style="min-width:250px">
                                            </colgroup>
                                        </ng-template>
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th></th>
                                                <th >
                                                    <div class="p-d-flex p-jc-between p-ai-center">
                                                        Mã biểu hiện
                                                    </div>
                                                </th>
                                                <th >
                                                    <div class="p-d-flex p-jc-between p-ai-center">
                                                        Tên biểu hiện
                                                    </div>
                                                </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-bieuHien let-index="rowIndex">
                                            <tr>
                                                <td style="text-align: center">
<!--                                                    <p-tableCheckbox  [value]="customer"-->
<!--                                                                       ></p-tableCheckbox>-->
                                                    <p-checkbox (onChange)="select(bieuHien)" [(ngModel)]="bieuHien.check" binary="true"></p-checkbox>
                                                </td>
                                                <td>
                                                    {{bieuHien.maBieuHien}}
                                                </td>
                                                <td [title]="bieuHien.moTa">
                                                    {{bieuHien.moTa}}
                                                </td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="emptymessage">
                                            <tr>
                                                <td colspan="3">Không có dữ liệu</td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </ng-template>
                            <ng-template pTemplate>
                                <div class="p-col p-d-flex p-ai-center p-jc-center">
                                    <p-table [value]="bieuHienCheck"
                                             [scrollable]="true"
                                             scrollHeight="600px"
                                             styleClass="p-datatable-customers p-datatable-gridlines"

                                             [style]="{height:'600px'}"
                                             >
                                        <ng-template pTemplate="caption">
                                            <div class="p-d-flex">
                                                <h5>Danh sách biểu hiện chọn</h5>
                                                <span class=" p-ml-auto">
                                                   <button pButton label="Xóa toàn bộ" class="p-button-outlined"
                                                           icon="pi pi-filter-slash"
                                                            (click)="removeAll()"></button>
                                                </span>
                                            </div>
                                        </ng-template>
                                        <ng-template pTemplate="colgroup" let-columns>
                                            <colgroup>
                                                <col style="width:70px">
                                                <col style="width:100px">
                                                <col style="min-width:250px">
                                            </colgroup>
                                        </ng-template>
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th></th>
                                                <th >
                                                    <div class="p-d-flex p-jc-between p-ai-center">
                                                        Mã biểu hiện
                                                    </div>
                                                </th>
                                                <th >
                                                    <div class="p-d-flex p-jc-between p-ai-center">
                                                        Tên biểu hiện
                                                    </div>
                                                </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-bieuHien let-index="rowIndex">
                                            <tr>
                                                <td style="text-align: center">
                                                    <!--                                                    <p-tableCheckbox  [value]="customer"-->
                                                    <!--                                                                       ></p-tableCheckbox>-->
                                                    <p-checkbox (onChange)="remove(bieuHien,index)" [(ngModel)]="bieuHien.check" binary="true"></p-checkbox>
                                                </td>
                                                <td>
                                                    {{bieuHien.maBieuHien}}
                                                </td>
                                                <td>
                                                    {{bieuHien.moTa}}
                                                </td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="emptymessage">
                                            <tr>
                                                <td colspan="3">Không có dữ liệu</td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="summary">
                                            <p-button label="Chuẩn đoán" icon="pi pi-search" [loading]="loading" (onClick)="load()"></p-button>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </ng-template>
                        </p-splitter>


                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->

                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    </div>
</div>


<p-dialog header="Kết quả chuẩn đoán" [(visible)]="displayModal" [modal]="true" [style]="{width: '60vw'}" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">
    <nz-table #nzTable [nzData]="resultChuanDoan" nzTableLayout="fixed">
        <thead>
        <tr>
            <th nzWidth="60px"></th>
            <th>Tên bệnh</th>
            <th>Tên bệnh chi tiết</th>
            <th>Phần trăm mắc bệnh</th>
            <th>Biểu đồ</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let data of nzTable.data">
            <tr>
                <td title="Chi tiết" [nzExpand]="expandSet.has(data.id)" (nzExpandChange)="onExpandChange(data.id, $event)"></td>
                <td>{{ data.tenBenh }}</td>
                <td>{{ data.tenBenhChiTiet }}</td>
                <td>{{ data.phanTram + ' %' }}</td>
                <td><p-chart type="pie" [data]="data.dataChart"></p-chart></td>
            </tr>
            <tr [nzExpand]="expandSet.has(data.id)">
                <span style="font-weight: bold;">{{'+ Tên bệnh: ' }}</span>
                <span>{{data.tenBenh }}</span>
                <br>
                <span style="font-weight: bold;">{{'+ Tên bệnh chi tiết: ' }}</span>
                <span>{{ data.tenBenhChiTiet }}</span>
                <br>
                <span style="font-weight: bold;">{{'+ Số biểu hiện / tổng số: '  }}</span>
                <span>{{ data.soBieuHienChon + ' / '+data.tongSoBieuHien }}</span>
                <br>
                <span style="font-weight: bold;">+ Danh sách biểu hiện mắc phải:</span>
                <br>
                <ng-container *ngFor="let i of data.listDanhSach">
                    <span style="margin-left: 25px">{{ i }}</span>
                    <br>
                </ng-container>


            </tr>
        </ng-container>
        </tbody>
    </nz-table>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" (click)="displayModal=false" label="Đóng"></p-button>
    </ng-template>
</p-dialog>


