<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
                <div class="card">
                    <form [formGroup]="type" class="form-horizontal">
                        <div class="card-header card-header-rose card-header-text">
                            <div class="card-text">
                                <h4 class="card-title">Thông tin môn học</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="row">

                                        <label class="col-sm-4 col-form-label">Mã môn học</label>

                                        <div class="col-sm-7">
                                            <mat-form-field class="example-full-width"
                                                            [ngClass]="{'has-success':validTextType===true}">
                                                <input
                                                        type="text"
                                                        matInput
                                                        formControlName="maMonHoc"
                                                        (ngModelChange)="textValidationType($event)">
                                                <app-field-error-display [displayError]="isFieldValid(type, 'maMonHoc')" errorMsg="Bắt buộc nhập">
                                                </app-field-error-display>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="row">

                                        <label class="col-sm-4 col-form-label">Tên môn học</label>

                                        <div class="col-sm-7">
                                            <mat-form-field class="example-full-width"
                                                            [ngClass]="{'has-success':validTextType===true}">
                                                <input
                                                        type="text"
                                                        matInput
                                                        formControlName="tenMonHoc"
                                                        (ngModelChange)="textValidationType($event)">
                                                <app-field-error-display [displayError]="isFieldValid(type, 'tenMonHoc')" errorMsg="Bắt buộc nhập">
                                                </app-field-error-display>
                                            </mat-form-field>
                                        </div>
                                    </div>



                                    <div class="row">
                                        <label class="col-sm-4 col-form-label">Số tín chỉ</label>
                                        <div class="col-sm-7">
                                            <mat-form-field class="example-full-width has-label" [ngClass]="{'has-success':validNumberType===true}" [ngClass]="displayFieldCss(type, 'soTinChi')">
                                                <input type="number" name="number" number="true"
                                                       matInput
                                                       (ngModelChange)="numberValidationType($event)"
                                                       formControlName="soTinChi">
                                                <app-field-error-display [displayError]="isFieldValid(type, 'soTinChi')" errorMsg="Thêm 1 số!">
                                                </app-field-error-display>
                                            </mat-form-field>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <label class="col-sm-4 col-form-label">Số tiết giảng dậy</label>
                                        <div class="col-sm-7">
                                            <mat-form-field class="example-full-width has-label" [ngClass]="{'has-success':validNumberType===true}" [ngClass]="displayFieldCss(type, 'soTietGiangDay')">
                                                <input type="number" name="number" number="true"
                                                       matInput
                                                       (ngModelChange)="numberValidationType($event)"
                                                       formControlName="soTietGiangDay">
                                                <app-field-error-display [displayError]="isFieldValid(type, 'soTietGiangDay')" errorMsg="Thêm 1 số!">
                                                </app-field-error-display>
                                            </mat-form-field>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card-footer col-md-3" style="padding-left: 15px">
                                <button mat-raised-button class="btn btn-rose btn-fill" (click)="back()">Quay Lại</button>
                            </div>
                            <div class="card-footer text-right col-md-3 ml-auto">
                                <button mat-raised-button type="submit" class="btn btn-rose btn-fill" (click)="onType()">Lưu</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
